table {
  width: 260px;
  height: 260px;
}

table tr td div.card {
  position: relative;
  border: thin solid #ebb042;
  width: 100%;
  height: 100%;
}

table tr td div.card img {
  position: absolute;
  width: 100%;
  height: 100%;
} 
